*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight: 700;
    background-color:hsl(240, 78%, 98%);
    background-image: url("images/bg-top.svg");
    background-repeat: no-repeat;
    background-size: 13rem; 
    background-position:280px 0px; 
}
h1{
    color:hsl(233, 13%, 49%);
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size:0.8rem;
    font-weight: 700;
    width:80%;
    padding:0.9em 0;
    background-image:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:hsl(0, 0%, 100%);
    text-transform: uppercase;
    border: none;
    margin-top: 1em;
    border-radius: 5px;
}
button:hover{
    opacity: 0.5;
    cursor: pointer;
}
.intro-sec{
    padding:2em 0 3.5em 0;
}
.container{
    width:98%;
    margin:0 auto;
}
.intro{
    width:70%; 
    text-align: center;
    margin:0 auto;
}
.slider-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.slider-content span{
    color:hsl(234, 14%, 74%);
}
.switch {
    position: relative;
    display: inline-block;
    width:60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:hover{
    opacity: 0.5;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .price-content{
      width:88%; 
      text-align: center;
      border-radius: 12px;
      padding:1.5em 0;
      margin: 0 auto;
  }
  .regular{
    background-color: hsl(0, 0%, 100%);
    color: hsl(233, 13%, 49%);

  }
  .annual-price, .month-price{
      color:hsl(232, 13%, 33%);
      font-size: 3.5rem;
      margin:0 auto 0.5em auto;
  }
  .annual-price{
      display: none;
  }
  .price-details
  {
      list-style: none;
      width:85%;
      margin: 0 auto;
      padding-left: 0;
      text-align: center;
      border-bottom: 1px solid hsl(234, 14%, 74%);
    }
  .price-details li{
     padding:1em;
     border-top: 1px solid hsl(234, 14%, 74%);
   }
   .colored{
      color: hsl(0, 0%, 100%);
      background-image:linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      margin:2em auto;
    }
    .whited{
        color:hsl(0, 0%, 100%);

    }
  .colored button{
      background-image: unset;
      background-color:hsl(0, 0%, 100%);
      color:hsl(237, 63%, 64%);
  }
  .bottom-back{
    display:none;
  }

  @media (min-width:700px)
  {
    body
    {
        background-position:580px 0px; 
    }
    .intro{
     width:50%;
    }
    .price-content{
        width:60%;
    }
  }
  @media(min-width:1000px)
  {
    body{
      background-size: 18rem; 
      background-position:800px 0px; 
    }
    .intro{
      width:40%;
    }
     .price-content{
      width:50%;
    }

  }
  @media(min-width:1200px)
  {
    body{
      background-position:1100px 0px; 

    }
    h1{
      font-size: 2rem;
     margin-bottom: 1.1em;
    }
  
    .intro-sec{
      padding:2.3em 0;
    }
    
    .intro{
      width:20%; 
    }
    .price-sec{
      width:98%;
      position: absolute;      
    }
    .row{
      display:flex;
      justify-content: center;
    }
  
    .price-content{
      width:25%;
      padding:2em 0;
      
    }
    .regular{
      margin: 2em 0;
    }
    .colored{
      margin: 0;
    }
    .annual-price, .month-price
    {
      font-size: 3.7rem;
    }

    .bottom-back{
      display: block;
      width:30%;
      margin:15em 0;
    }
  }
  

